configuration{
    modi: "window,combi,drun";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  Combi ";
    display-window: " 🪟  Window";
    display-drun: " 🖥️  Drun";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
